.false-user-text {
    display: inline;
    margin-left: 2%;
}

.false-user-img {
    border-radius: 50%;
}

.girls-are-pink{
    background: pink;
    display: block!important
}

.list-group {
    width: 100%
}