.login-holder {
    margin: 100px 0;
    border: 1px solid lightgrey;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    nav {
        margin: 20px;
        display: flex;
        justify-content: center;
    }
}