.author-address {
    margin: 50px 0;
}

.authors-company {
    margin: 50px 0;
}

.authors-details-component {
    margin: 50px 0;
    display: flex;
    div {
        margin-left: 20px;
    }
}

.author-details-header {
    margin: 50px 0;
}