@media only screen and (max-width: 575px) {
    .login-component {
        input {
            width: 100%;
            margin: 20px auto;
        }
        hr {
            width: 90%;
        }

        button{
            width: 30%;
            margin: 20px;
        } 
    }
}

@media only screen and (min-width: 576px) {
    .login-component {
        input {
            width: 100%;
            margin: 20px auto;
        }
        hr {
            width: 90%;
        }

        button{
            width: 20%;
            margin: 10px;
        } 
    }
}

