.search-list {
    background: grey;
    position: absolute;
    left: 73%;
    top: 50px;
    z-index: 100;
    padding: 0;
    width: 170px;
    border-radius: 5px;
}

.search-list-item {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 0;
}