@media only screen and (max-width: 575px) {
    .main {
        margin-bottom: 50px;
        h2 {
            text-align: center;
            margin: 2em 0 1em;
        }
    }
}

@media only screen and (min-width: 576px) { 
    .main {
    margin-bottom: 50px;
        h2 {
            text-align: center;
            margin: 2em 0 1em;
        }
    }
}

@media only screen and (min-width: 768px) {         
    .main {
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 769px) {         
    .main {
        margin-bottom: 50px;
        h2 {
            text-align: center;           
        }
    }
}
